name: CI

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

env:
  UV_LOCKED: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@v4.2.2

      - uses: scientific-python/repo-review@v0.12.2
        with:
          plugins: sp-repo-review

      - name: dprint
        uses: dprint/check@v2.3

      - name: typos
        uses: crate-ci/typos@v1.34.0

      - uses: astral-sh/setup-uv@v6.4.3
        with:
          activate-environment: true
          python-version: "3.13"

      - name: ruff
        run: |
          uv run ruff check --output-format=github
          uv run ruff format --check

      # mypy_primer expects pyright to pass
      - name: pyright
        uses: jakebailey/pyright-action@v2.3.2

  generate-matrix:
    name: Generate Test Matrix
    runs-on: ubuntu-latest
    timeout-minutes: 1

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - uses: actions/checkout@v4.2.2

      - name: Install uv
        uses: astral-sh/setup-uv@v6.4.3
        with:
          python-version: "3.13"

      - name: Generate Matrix
        id: set-matrix
        shell: bash
        run: |
          matrix=$(uv run scripts/generate_matrix.py | jq -c)
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  typetest:
    needs: generate-matrix
    runs-on: ubuntu-latest
    timeout-minutes: 3

    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.generate-matrix.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v4.2.2

      - name: setup uv
        uses: astral-sh/setup-uv@v6.4.3
        with:
          python-version: ${{ matrix.python }}

      - name: basedpyright
        run: >
          uv run
          -p ${{ matrix.python }}
          --with="numpy==${{ matrix.numpy }}"
          --no-editable
          basedpyright

      - name: mypy
        run: >
          uv run
          -p ${{ matrix.python }}
          --with="numpy==${{ matrix.numpy }}"
          --no-editable
          mypy
          --tb
          --hide-error-context
          --hide-error-code-links
          --no-incremental
          --cache-dir=/dev/null
          --soft-error-limit=-1
          .

      - name: stubtest
        run: >
          uv run
          -p ${{ matrix.python }}
          --with="numpy==${{ matrix.numpy }}"
          --no-editable
          stubtest
          --allowlist=.mypyignore
          scipy
