name: CI
permissions: read-all

on:
  pull_request:
  push:
    branches: [master]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  UV_LOCKED: 1

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@v5.0.0

      - uses: scientific-python/repo-review@v0.12.2
        with:
          plugins: sp-repo-review

      - name: dprint
        uses: dprint/check@v2.3

      - name: typos
        uses: crate-ci/typos@v1.35.7

      - uses: astral-sh/setup-uv@v6.6.1
        with:
          activate-environment: true
          python-version: "3.13"

      - name: ruff
        run: |
          uv run ruff check --output-format=github
          uv run ruff format --check

      # mypy_primer expects pyright to pass
      - name: pyright
        uses: jakebailey/pyright-action@v2.3.3
        with:
          # see https://github.com/microsoft/pyright/issues/10832
          version: 1.1.403

  # NOTE: mypy ignores `uv run --with=...` (and `--isolated` does not help), so we
  # manually (re)install the desired version directly in the environment.

  typecheck:
    runs-on: ubuntu-latest
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        py: ["3.11"]
        np: ["1.25", "2.0", "2.1", "2.2", "2.3"]

    steps:
      - uses: actions/checkout@v5.0.0

      - name: setup uv
        uses: astral-sh/setup-uv@v6.6.1
        with:
          activate-environment: true
          python-version: ${{ matrix.py }}

      - name: install dependencies
        run: uv pip install --exact --group type numpy==${{ matrix.np }}.* .

      - name: basedpyright scipy-stubs
        run: basedpyright scipy-stubs

      - name: mypy scipy-stubs
        run: mypy --no-incremental --cache-dir=/dev/null scipy-stubs

      - name: stubtest scipy
        run: stubtest --allowlist=.mypyignore scipy

  typetest:
    # needs: generate-matrix
    runs-on: ubuntu-latest
    timeout-minutes: 5

    strategy:
      fail-fast: false
      matrix:
        py: ["3.11", "3.12", "3.13"]
        np: ["1.25", "2.0", "2.1", "2.2", "2.3"]
        exclude:
          - py: "3.12"
            np: "1.25"
          - py: "3.13"
            np: "1.25"
          - py: "3.13"
            np: "2.0"

    steps:
      - uses: actions/checkout@v5.0.0

      - uses: astral-sh/setup-uv@v6.6.1
        with:
          activate-environment: true
          python-version: ${{ matrix.py }}

      - name: install dependencies
        run: uv pip install --exact --group type numpy==${{ matrix.np }}.* .

      - name: basedpyright tests
        run: basedpyright tests

      - name: mypy tests
        run: mypy --no-incremental --cache-dir=/dev/null tests
