name: mypy_primer run
permissions: read-all

on:
  # only run on pr, since we diff between branches
  pull_request:
    paths:
      - "scipy-stubs/**/*.pyi"
      - ".github/workflows/mypy_primer.yml"
      - ".github/workflows/mypy_primer_comment.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  mypy_primer:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        # e.g. change this to `[0, 1, 2]` with `--num-shards=3` below
        shard-index: [0, 1, 2]

    steps:
      - uses: actions/checkout@v5.0.0
        with:
          path: new
          fetch-depth: 0

      - uses: astral-sh/setup-uv@v6.6.0
        with:
          activate-environment: true
          python-version: "3.13"

      - name: install
        run: uv pip install git+https://github.com/hauntsaninja/mypy_primer.git

      - name: run
        shell: bash
        run: |
          cd new
          MYPY_VERSION=$(grep /mypy- uv.lock | sed -n "s/.*\/mypy-\([^;]*\)-py3.*/\1/p")

          echo "new commit"
          git checkout $GITHUB_SHA
          git rev-list --format=%s --max-count=1 HEAD

          MERGE_BASE=$(git merge-base $GITHUB_SHA origin/$GITHUB_BASE_REF)
          git worktree add ../old $MERGE_BASE
          cd ../old

          echo "old commit"
          git rev-list --format=%s --max-count=1 HEAD

          echo ""
          cd ..

          # fail action if exit code isn't zero or one
          (
            mypy_primer \
              --project-selector "/(scikit-learn|xarray|freqtrade|jax|optuna|spark|pandera|imagehash|arviz|colour|altair|hydpy|static-frame)/?$" \
              --new v${MYPY_VERSION} \
              --new-prepend-path new \
              --old v${MYPY_VERSION} \
              --old-prepend-path old \
              --num-shards 3 \
              --shard-index ${{ matrix.shard-index }} \
              --output concise \
              --additional-flags="--hide-error-context" \
              --show-speed-regression \
              --debug \
            | tee diff_${{ matrix.shard-index }}.txt
          ) || [ $? -eq 1 ]

      - name: save pr number
        if: ${{ matrix.shard-index == 0 }}
        run: echo ${{ github.event.pull_request.number }} | tee pr_number.txt

      - name: upload diff and pr number
        if: ${{ matrix.shard-index == 0 }}
        uses: actions/upload-artifact@v4.6.2
        with:
          name: primer_diffs-${{ matrix.shard-index }}
          path: diff_${{ matrix.shard-index }}.txt pr_number.txt

      - name: upload diff
        if: ${{ matrix.shard-index != 0 }}
        uses: actions/upload-artifact@v4.6.2
        with:
          name: primer_diffs-${{ matrix.shard-index }}
          path: diff_${{ matrix.shard-index }}.txt

  join_artifacts:
    needs: [mypy_primer]
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/upload-artifact/merge@v4.6.2
        with:
          name: primer_diffs
          pattern: primer_diffs-*
          delete-merged: true
